# /
.vscode

# src/

# src/input
src/input/*
!src/input/_set_up.sh

# src/experiments/*

# src/notebooks
src/notebooks/*.ipynb

# anywhere
**/__pycache__
**/.ipynb_checkpoints
**/*.csv
!**/.gitkeep
**/nohup.out
**/*.json
**/.DS_Store
**/*.png