# /
.vscode
# /input
input/*
!input/_set_up.sh

# src/

# src/input
src/input/*
!src/input/_decode.py
!src/input/_set_up.sh

# src/my_features
src/features/train/*
src/features/test/*
# src/experiments/*

# src/notebooks
src/notebooks/*.ipynb

# anywhere
**/__pycache__
**/.ipynb_checkpoints
**/*.csv
!**/.gitkeep
**/*.pt
**/nohup.out
**/*.json
**/.DS_Store